/.metadata/
/RemoteSystemsTempFiles/
/.recommenders/
/.sonarlint/
/gs/.settings/
/gs/.project/
/gs/gs-bean/.settings/
/gs/gs-bean/.project/
/gs/gs-bean/.classpath/
/gs/gs-controller/.settings/
/gs/gs-controller/.project/
/gs/gs-controller/.classpath/
/gs/gs-service/.settings/
/gs/gs-service/.project/
/gs/gs-service/.classpath/
/gs/gs-dao/.settings/
/gs/gs-dao/.project/
/gs/gs-dao/.classpath/
